.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	background-color: orange;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		row-gap: 16px;
	}
}
